.side-nav {
    width: 70px;
    height: 550px;
    border-radius: 50px;
    border: 2px solid #a8a9a6;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 30px;
    background: #ffffff;
    overflow-x: hidden;
    padding: 40px 0;
  }
  
  .side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .side-nav li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .side-nav li:hover {
    background-color: #e0e0e0;
  }
  